@font-face {
  font-family: 'iconfont'; /* Project id 3084625 */
  src: url('//at.alicdn.com/t/font_3084625_7hz7yi1bdz9.woff2?t=1641440857557') format('woff2'),
    url('//at.alicdn.com/t/font_3084625_7hz7yi1bdz9.woff?t=1641440857557') format('woff'),
    url('//at.alicdn.com/t/font_3084625_7hz7yi1bdz9.ttf?t=1641440857557') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mp-round_close_light:before {
  content: '\e7ee';
}

.mp-setting:before {
  content: '\e67d';
}

.mp-add:before {
  content: '\e664';
}
